@import "src/app/assets/scss/color.scss";

.auth-intro {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: var(--maya-blue);
  height: 100%;
  transition: all 0.5s linear;
  z-index: 999;

  &--left {
    left: 0;
    right: 60%;
    border-radius: 40px 0px 0px 40px;
    transition: all 0.5s ease;
  }

  &--right {
    right: 0;
    left: 60%;
    border-radius: 0px 40px 40px 0px;
    transition: all 0.5s ease;
  }

  &__firstLine {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  &__secondLine {
    margin-bottom: 2em;
  }
}
