.input-field {
  &-auth {
    color: var(--pure-black);
    outline: none;
    border: none;
    background-color: var(--light-blue-shade);
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 2em;

    &:focus {
      & {
        box-shadow: var(--focus-input-box-shadow);
      }

      & + div .input-field-label {
        color: var(--maya-blue);
        font-size: 1.5em;
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column-reverse;
  }

  &-label {
    margin-left: 0.5em;
    transition: all 0.5s;
  }

  &__error {
    color: var(--pure-red);
    margin-left: 1em;
    font-weight: bold;
  }
}
