@import "src/app/assets/scss/color.scss";

.changing-button {
  width: 10em;
  height: 3em;
  background-color: var(--pure-black-100-transparent);
  border-radius: 50px;
  border: 0.2em solid var(--pure-white);
  color: var(--pure-white);
  outline: none;
  cursor: pointer;
  transition: 0.5s all ease;

  &:hover {
    color: var(--maya-blue);
    background-color: var(--pure-white);
  }
}
