.main-container {
  border: 0;
  border-radius: 40px;
  position: relative;
  box-shadow: 0 3px 6px 0px hsla(0, 0%, 0%, 0.2);
  vertical-align: middle;
  width: 80rem;
  height: 40rem;
  transform: translateY(2rem);
}
