.verify-account {
  width: 50em;
  height: 20em;
  border: none;
  box-shadow: var(--container-box-shadow);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  & form{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
