@import "src/app/assets/scss/color.scss";

/* align-items*/
.align-items- {
  &center {
    align-items: center;
  }
}

/* display */
.d- {
  &flex {
    display: flex;
  }
  &block {
    display: block;
  }
}

/* flex-direction */
.flex- {
  &row {
    flex-direction: row;
  }
  &column {
    flex-direction: column;
  }
}

/* justify-content*/

.justify-content- {
  &center {
    justify-content: center;
  }
}

/* Margin */
.margin- {
  &auto {
    margin: auto;
  }
}

/* position */
.position- {
  &relative {
    position: relative;
  }
  &absolute {
    position: absolute;
  }
}

/* text */
.text- {
  /* color*/
  &white {
    color: var(--pure-white);
  }
  &maya-blue{
    color: var(--maya-blue);
  }

  /*align*/
  &center {
    text-align: center;
  }
}
