:root {
  /* Blue */
  --maya-blue: #4fa1f3;
  --light-blue-shade: #dae0e2;

  /* White */
  --pure-white: #ffffff;

  /* Black */
  --pure-black: #000000;
  --pure-black-100-transparent: rgba($color: #000000, $alpha: 0);
}
