.d {
  &-flex {
    display: flex;
  }
  &-block {
    display: block;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
}
