.btn {
  height: 2em;
  padding: 1em;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: var(--primary-fs);
  border-radius: 0.25em;
  transition: all 0.15s linear;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &-success {
    background-color: var(--lime-green);
    color: white;
    font-weight: bold;

    &:hover {
      background-color: white;
      color: var(--lime-green);
      border: 1px solid var(--lime-green);
    }

    &:active {
      background-color: var(--pure-black);
      color: white;
    }
  }

  &-primary {
    background-color: var(--maya-blue);
    color: white;
    font-weight: bold;

    &:hover {
      background-color: white;
      color: var(--maya-blue);
      border: 1px solid var(--maya-blue);
    }

    &:active {
      background-color: var(--pure-black);
      color: white;
    }
  }

  &-pending {
    background-color: var(--zircon-gray);
    color: var(--pure-black);
    font-weight: bold;

    &:hover {
      cursor: progress;
    }
  }

  &__spinner {
    width: 2em;
    height: 2em;
  }
}
